# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: 1.0.$(Rev:r)

trigger:
- main

pool: 'Nitin'

stages:
- stage: BuildAndDeploy
  displayName: 'Build, Deploy & Run Tests'
  jobs:
  - job: RunTestAutomation
    steps:
      - checkout: self

      # Task 1: Install Platform (Using @6 for v6 Extension)
      - task: UiPathInstallPlatform@6
        displayName: '1. Install UiPath Platform'
        # We removed the specific cliVersion so it defaults to the latest compatible one automatically.

      # Task 2: Pack (Using @6)
      - task: UiPathPack@6
        displayName: '2. Pack UiPath Project'
        inputs:
          versionType: 'ManualVersion'
          version: '$(Build.BuildNumber)'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Tests'   # Using 'Tests' since you are running automation testing
          orchestratorConnection: 'CICD_ConnectionOrch'
          outputPath: '$(Build.ArtifactStagingDirectory)'

      # Task 3: Deploy (Using @6)
      - task: UiPathSolutionDeploy@6
        displayName: '3. Deploy to Orchestrator'
        inputs:
          orchestratorConnection: 'CICD_ConnectionOrch'
          packageName: 'CICD_AzureOrch'
          packageVersion: '$(Build.BuildNumber)'
          deploymentName: '3. Deploy to Orchestrator'
          deploymentFolderName: 'Testing'
          traceLevel: 'Information'

      # Task 4: Test (Using @6)
      - task: UiPathTest@6
        displayName: '4. Run Test Set'
        inputs:
          testTarget: 'TestSet'
          orchestratorConnection: 'CICD_ConnectionOrch'
          testSet: 'CICD_Azure_TestSet'
          folderName: 'Testing'
          testReportDestination: '$(Build.ArtifactStagingDirectory)\test-results.xml'
          traceLevel: 'Information'
          attachRobotLogs: true

          