# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: 1.0.$(Rev:r)

trigger:
- main

pool: 'Nitin'

stages:
- stage: BuildAndDeploy
  displayName: 'Build, Deploy & Run Tests'
  jobs:
  - job: RunTestAutomation
    steps:
      - checkout: self

      # Task 1: Install Platform
      - task: UiPathInstallPlatform@6
        displayName: '1. Install UiPath Platform'

      # Task 2: Pack
      - task: UiPathPack@6
        displayName: '2. Pack UiPath Project'
        inputs:
          versionType: 'ManualVersion'
          version: '$(Build.BuildNumber)'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Tests'
          orchestratorConnection: 'CICD_ConnectionOrch'
          outputPath: '$(Build.ArtifactStagingDirectory)'

      # Task 3: Deploy - CORRECTED
      - task: UiPathDeploy@6
        displayName: '3. Deploy to Orchestrator'
        inputs:
          orchestratorConnection: 'CICD_ConnectionOrch'
          packagesPath: '$(Build.ArtifactStagingDirectory)'  # Changed from packageName
          folderName: 'Testing'
          entryPoints: 'Main.xaml'  # Added entry point
          traceLevel: 'Information'

      # Task 4: Test
      - task: UiPathTest@6
        displayName: '4. Run Test Set'
        inputs:
          testTarget: 'TestSet'
          orchestratorConnection: 'CICD_ConnectionOrch'
          testSet: 'CICD_Azure_TestSet'
          folderName: 'Testing'
          testReportDestination: '$(Build.ArtifactStagingDirectory)\test-results.xml'
          traceLevel: 'Information'
          attachRobotLogs: true

      # Task 5: Publish Test Results (Optional but recommended)
      - task: PublishTestResults@2
        displayName: '5. Publish Test Results'
        condition: always()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '$(Build.ArtifactStagingDirectory)\test-results.xml'
          failTaskOnFailedTests: true

          